@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root{
    --cardBackground: rgba(0,0,0,0.7);
    --unit: 20px;
    --navBarColor: rgba(114, 107, 107, 0.418);
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(65, 65, 65);
    margin: 0px;
}
*{
    color: white;
    transition: all 0.3s ease-in-out;
}
html{
    font-size: var(--unit);
    font-family: "Cardo", Arial, sans-serif;
}

.flex{
    display: flex;
}

.flexCol{
    flex-direction: column;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card{
    background-color: var(--cardBackground);
    border-radius: var(--unit);
}
.card:hover{
    box-shadow: 0 0 50px 2px purple;
    scale: 1.025;
}

.width90{
    width: 90vw;
}
.width75{
    width: 75vw;
}
.width50{
    width: 50vw;
}
.fullWidth{
    width: 100%;
}
.fullHeight{
    height: 100%;
}

.centered{
    align-items: center;
    justify-content: center;
}

.pad1U{
    padding: var(--unit)
}

.gap{
    gap: var(--unit);
}
.gap3{
    gap: calc(var(--unit) * 3);
}

.textCenter{
    text-align: center;
}
.leftText{
    text-align: start;
}

.marginBottom{
    margin-bottom: 75px;
}

.socials{
    width: 50px;
    height: 50px;
    background-color: var(--cardBackground);
    border-radius: var(--unit);
}

.spaceEven{
    justify-content: space-evenly;
    gap: calc(var(--unit) * 2);
}

#navbar{
    position: sticky;
    top: 0;
    background-color: var(--navBarColor);
    z-index: 10;
}

#headshotPlaceholder{
    width: 400px;
    height: 400px;
    background-color: rgb(87, 87, 148);
    border-radius: calc(var(--unit) * 7);
}

.projSpacer{
    width: 800px;
    height: 400px;
    background-color: rgb(77, 103, 126);
    position: relative;
    border-radius: var(--unit);
}

.linkPage{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    background-color: rgba(255, 0, 0, 0.356);
    z-index: 1;
    border-radius: inherit;
    gap: calc(var(--unit) * 5);
}

.logo{
    width: 20%;
    aspect-ratio: 1/1;
    margin-left: calc(var(--unit) * 3);
}

.projSpacer:hover .linkPage {
  opacity: 1;
}

.inheritBorder{
    border-radius: inherit;
}

#hero{
    position: absolute;
    z-index: -10;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: rgb(172, 18, 18);
}

.reveal{
    opacity: 0;
    transform: translateY(20px)
}

.reveal.visible{
    opacity: 1;
    transform: translateY(0px)
}